* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* This is Header Styles */

header {
background-image: url('../images/banner/banner3.png');
background-repeat: no-repeat;
background-size: cover;
height: 800px;
}

.banner {
    align-items: center;
    text-align: right;
    padding-right: 230px;
    padding-top: 216px;
    padding-bottom: 166px;
}

.header-title {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    line-height: 62px;

}

.header-description {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 10px;
    line-height: 20px;
}

.btn-primary {
    
    color: #005FAC;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 0;
}

.btn-text {
    font-weight: 600;
    font-size: 16px;
    color: #005FAC;
}